<!DOCTYPE html>
<html lang="es">
<head>
    <link rel="stylesheet" href="../assets/style.css">
	<!--Fuentes-->
	<link rel="preconnect" href="https://fonts.gstatic.com">
	<link href="https://fonts.googleapis.com/css2?family=Anton&family=Montserrat:wght@100&family=Roboto:wght@100&family=Staatliches&display=swap" rel="stylesheet">
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Herramientas</title>
</head>
<body>
	<header id="EncabezadoPage">
		<h1>
			Herramientas
		</h1>
	</header>
		<ul>
			<li>No Eléctricas</li>
			<li>Eléctricas</li>
			<li>Neumáticas</li>
			<li>Medición y precisión</li>
		</ul>
</body>
</html>