<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Productos</title>

	<!--Fuentes y Estilos-->
	<link rel="preconnect" href="https://fonts.gstatic.com">
	<link href="https://fonts.googleapis.com/css2?family=Anton&family=Montserrat:wght@100&family=Roboto:wght@100&family=Staatliches&display=swap" rel="stylesheet">
	<link rel="stylesheet" href="../css/style.css">

</head>
<body>
	<div id="products">
		<header class="border">
			<h1>Nuestros productos</h1>
		</header>

	<!--Productos-->
		<section class="border" id="ferreteria">
			<div class="item">Brocas</div>
			<div class="item">Abrasivos</div>
			<div class="item">Escaleras</div>
			<div class="item">Cintas</div>
			<div class="item">Elementos de fijación</div>
		</section>

		<section class="border" id="herramientas" >
			<div class="item">No Eléctricas</div>
			<div class="item">Eléctricas</div>
			<div class="item">Neumáticas</div>
			<div class="item">Medición y precisión</div>
		</section>

		<section class="border" id="iluminacion" >
			<div class="item">Interior</div>
			<div class="item">Exterior</div>
		</section>

		<section class="border" id="construccion" >
			<div class="item">Arenas</div>
			<div class="item">Obra Gris</div>
			<div class="item">Terminado</div>
			<div class="item">Hierro</div>
			<div class="item">Drywall</div>
		</section>
		
		<section class="border" id="otros" >
			<a href="../views/Equipos.html"><div class="item">Equipos</div></a>
			<a href="../views/SeguridadIndustrial.html"><div class="item">Seguridad Industrual</div></a>
			<a href="../views/FGL.html"><div class="item">Filtros, Grasas y Lubricantes</div></a>
		</section>
		
	<!--Menu de Navegación-->
		<nav class="border">Navegacion
			<a href="../index.html"><div>Volver al inicio</div></a>
			<a href="Contactenos.html"><div>Contáctenos</div></a>
		</nav>

	<!--Footer-->
		<div class="border" id="footerproductos">
			<p>2021 © CEAR– Todos los derechos reservados</p>
		</div>

   </div>
   
</body>
</html>